<div>
	<form name="roll" id="rollForm">
		<div>Select speed (from 20 to 125):</div>
		<br/>
		<div id="speed"></div>
		<br/>
		<div>Input angle(from 0 to 360): </div>
		<input type ="text" id="angle" />
		<br/>
		<br/>
		<button type="button" id="submitMove">Submit move</button>
	</form>
</div>
	<hr />
<div stlye="">
	<form id="colorForm" name="color">
		<input type="text" id="color" style="width:500px; height:500px" />
		<br/>
		<br/>
		<button type="button" id="submitColor" >Change color</button>
	</form>
</div>

<script>
	$(document).ready(function(){
		$( "#speed" ).slider( {
			min:20,
			max:125
		});
		$("#color").minicolors({theme:'minicolors-slider-wheel', inline:true, control: 'wheel'});

		$("#submitMove").click(function(){
			var hesh={"perform": "roll", "with": [$( "#speed" ).slider( "value" ) ,$("#angle").val()] };
			console.log(hesh);
			$.ajax({
				url:'sphero/action',
				data:JSON.stringify(hesh),
				type: 'POST',
				contentType: 'application/JSON',
				success: function(){ console.log("success")},
				error: function(){ console.log("error")}

			});

		});
		$("#submitColor").click(function(){
			var hesh={"perform": "rgb", "with": hexToRgb($("#color").val()) };
			console.log(hesh);
			$.ajax({
				url:'sphero/action',
				data:JSON.stringify(hesh),
				type: 'POST',
				contentType: 'application/JSON',
				success: function(){ console.log("success")},
				error: function(){ console.log("error")}

			});

		});
		function hexToRgb(hex) {
		    var bigint = parseInt(hex.replace('#',''), 16);
		    var r = (bigint >> 16) & 255;
		    var g = (bigint >> 8) & 255;
		    var b = bigint & 255;

		    return [r , g , b];
		}


	});

</script>