<!DOCTYPE html>
<html>
<head>
  <title>SpheroClient</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="">Information</a>
		</li>
		<li>
			<a href= "http://www.gosphero.com/">Sphero</a>
		</li>
	</ul>
</header>
<div class="container">
	<div class ="row">
		<div  class="main-content">
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
